<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>অভিযোগ</title>
    <link href="style.css" rel="stylesheet"/>
    <link href="bootstrap.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="row">
      <div class="col-sm-12">
	<h2 style="margin-left:20px;">আপনার অভিযোগ লিখুন</h2>
	<div class="from-group">
	  <label for="comment">
	    <textarea class="from-control"  id="comment" rows="10" cols="37"></textarea>
	  </label>
	  <h2 style="margin-left:5px;">জাতীয় পরিচয় পত্রের নাম্বার</h2>
	  
	</div>
      </div>
    </div>
    

   <script src="jquery.js"></script>
   <script src="bootstrap.js"></script>
   <script src="script.js"></script>
  </body>
</html>
