<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>আমার যত অধিকার।</title>
    <link href="style.css" rel="stylesheet"/>
    <link href="bootstrap.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="row">
      
      <div class="col-sm-12">
	<h2 class="middle">নাগরিক সুবিধা সমুহ</h2>
	<button class="btn btn-primary btn-lg btn-block">খাদ্য</button>
	<button class="btn btn-primary btn-lg btn-block">বস্ত্র</button>
	<button class="btn btn-primary btn-lg btn-block">বাসস্থান</button>
	<button class="btn btn-primary btn-lg btn-block">চিকিৎসা</button>
	<button class="btn btn-primary btn-lg btn-block">শিক্ষা</button>
	<button class="btn btn-primary btn-lg btn-block">নাগরিক সুবিধা</button>
      </div>
    </div>

    
    <script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
    <script src="script.js"></script>
  </body>
</html>
